@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$height: 46px;

body {
  font-family: "Roboto", sans-serif;
}
.app {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

.select {
  width: 100%;
  position: relative;
  z-index: 100;

  &.open {
    .select__dropdown {
      display: block;
    }
    .select__input {
      border-bottom: none;
    }
    .select__input svg {
      rotate: 180deg;
    }
    .select__backdrop {
      display: block;
    }
  }
  &__input {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
  }
  &__input-img {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: 0.15s background-color ease-in;
    &.selected {
      background-color: #cecccc;
    }
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
  &__backdrop {
    position: fixed;
    z-index: -1;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
}
